{% extends "base.html" %}

{% block content %}
  <h1>
    TODO list
    <a href="{% url 'things_to_do_list:create' %}" class="btn btn-primary btn-lg">
        Add task
    </a>
  </h1>
  <hr>
  {% if task_list %}
    <div>
      {% for task in task_list %}
      <p>
        <span class="fs-4 fw-bold"> {{ task.name }} </span>
        {% if task.is_done %}
        <span class="fs-4 fw-bold text-success"> Done </span>
          <a href="{% url 'things_to_do_list:toggle-complete-undo' task.pk %}" class="btn btn-secondary">Undo</a>
        {% else %}
        <span class="fs-4 fw-bold text-danger"> Not done </span>
          <a href="{% url 'things_to_do_list:toggle-complete-undo' task.pk %}" class="btn btn-secondary">Complete</a>
        {% endif %}
      </p>
      <p>
        <strong> Created: </strong>
        {{ task.created_at }}
        {% if task.deadline %}
          <strong> Deadline: </strong>
          {{ task.deadline }}
        {% endif %}
      </p>
      <p>
        <span class="badge bg-info">
          Tags:
          {% for tag in task.tags.all %}
            {{ tag.name }}
          {% endfor %}
        </span>
        <a href="{% url 'things_to_do_list:update' pk=task.id %}" class="btn btn-secondary btn-sm">
          Update
        </a>
        <a href="{% url 'things_to_do_list:delete' pk=task.id %}" class="btn btn-secondary btn-sm">
          Delete
        </a>
      </p>
      <hr>
      {% endfor %}
    </div>
  {% else %}
    <p>No tasks have been added yet.</p>
  {% endif %}
{% endblock %}